.DS_Store

*.log

.env
!samples/translator.env

node_modules/
coverage/

# Test temporary files
tests/.test-temp/

# Exclude release artifacts
dist/
releases/
*.vsix

# Test project folder
test-project/i18n/*
!test-project/i18n/en/

translator.env
.translator/
