AZURE_TRANSLATION_KEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXX'
AZURE_TRANSLATION_REGION='westus'
AZURE_TRANSLATION_URL='https://api.cognitive.microsofttranslator.com'

GOOGLE_TRANSLATION_KEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
GOOGLE_TRANSLATION_URL='https://translation.googleapis.com'

DEEPL_TRANSLATION_KEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
DEEPL_TRANSLATION_URL='https://api-free.deepl.com'

OPENROUTER_API_NAME='yyyyyyyyyyyyyyyyyyyyyyyyy'
OPENROUTER_API_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
OPENROUTER_API_URL='https://openrouter.ai/api/v1/chat/completions'

GEMINI_API_KEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
GEMINI_API_URL='https://generativelanguage.googleapis.com/v1beta'
