.vscode/**
.vscode-test/**
.github/**
doc/**
src/**
tests/**
CONTRIBUTING.md
ROADMAP.md
.gitignore
.translator.env
.env
.env-example
.translate.json
.translate.json.sample
**/tsconfig.json
**/vitest.config.ts
**/vite.config.js
**/*.map
**/*.ts
**/.eslintrc.json
**/.eslintignore
**/*.tgz
**/*.vsix
.git/**
scripts/**
coverage/**
releases/**
node_modules/**
test-project/**
